.App {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Inter';
}

.logo {
  position: absolute;
  width: 248px;
  height: 48px;
  left: 32px;
  top: 25px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  background: linear-gradient(56.25deg, #5500FF 27.16%, #D0B9FF 102.54%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav a {
  position: absolute;
  width: 94px;
  height: 25px;
  top: 37px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.budget-card {
  position: relative;
  width: 905px;
  height: 471px;
  left: 32px;
  top: 312px;

  background: #E5ECF4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.top-expenses {
  position: absolute;
  width: 269px;
  height: 389px;
  right: 26px;
  left: 610px;
  top: 35px;
  bottom: 47px;
}

.expense-item{
  display: flex;
}

.expense-item div{
  flex: 1;
  padding: 10px;
  display: inline-block;
}

.budget-card_graph {
  position: absolute;
  left: 72px;
  bottom: -30px;
}

.budget-card_total-budget {
  position: absolute;
  margin: 0;
  top: 60px;
  left: 135px;
}

.side-menu {
  position: fixed;
  top: 0px;
  width: 360px;
  height: 100vh;
  right: 0;
  background: #E5ECF4;
}

.side-menu_account-balance{
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.side-menu_account-balance_name {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.48);
}

.side-menu_account-balance_balance {
  font-size: 40px;
}

.side-menu_this-months-transactions_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.side-menu_this-months-transactions_item_name, 
.side-menu_this-months-transactions_item_amount,
.side-menu_this-months-transactions_item_date {
  flex: 1;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.side-menu_this-months-transactions_item_amount {
  text-align: center;
}

.side-menu_this-months-transactions_item_date {
  color: rgba(0, 0, 0, 0.48);
}

.login-page {
  display: flex;
  flex-direction: row;
}

.login-page_left-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: linear-gradient(56.25deg, #5500FF 27.16%, #D0B9FF 102.54%);
}

.login-page_left-image :first-child {
  width: 576px;
  height: 208px;
  top: 58px;
  left: 38px;
}

.login-page_left-image :nth-child(2) {
  margin-top: 200px;
  width: 302px;
  height: 315.42px;
}

.login-page_right-image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: #E5ECF4;
}

.login-page_right-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-page_right-image h3, .login-page_right-image input, .login-page_right-image button {
  width: 50%;
}

.login-page_right-image h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  color: #8A4FFF;
}

.login-page_right-image input {
  width: 278px;
  height: 40.29px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin: 5px;
  line-height: 27px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login-page_right-image button {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  background: #8A4FFF;
  border-radius: 40px;
  border-style: none;
  width: 123px;
  height: 46.12px;
}